.container {
  font-family: "Poppins";
  padding: 1.2rem;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-inline: 2rem;
  height: 80vh;
}

.mainContainer__left {
  flex: 0.5;
}

.mainContainer__right {
  flex: 0.5;
}

.mainContainer__left > p:nth-child(1) {
  font-size: 2.9rem;
  font-weight: 500;
  background: linear-gradient(45deg, #000000, #9d9d9d, #000000);
  background-size: 300% 300%;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animationHomePageBreathEffect 5s ease-in-out infinite;
}

@keyframes animationHomePageBreathEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mainContainer__right > p:nth-child(2) {
  color: #4d4d4d;
  font-size: 1.7rem;
}

.mainContainer__left > div.buttonJoin {
  width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  background: rgb(191, 76, 95);
  border-radius: 20px;
  color: white;
  padding-inline: 1.2rem;
  padding-block: 0.5rem;
}
