.container {
  padding: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBarOptionContainer {
  display: flex;
}

.buttonJoin {
  background: #c35753;
  border-radius: 10px;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}
