.homeContainer {
    display: flex;
}

.homeContainer > div:nth-child(odd) {
    flex: 0.2;
}

.homeContainer > div:nth-child(even) {
    flex: 0.6;
}

.homeContainer__leftBar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: start;
}

.sideBarOption {
    display: flex;
    gap: 1.2rem;
    align-items: center;    
    cursor: pointer;
    font-size: 1.1rem;
    margin: 0 auto;
    cursor: pointer;
    padding: 0.3rem;
    padding-left: 1.5rem;
    transition: all 0.2s;
}

.sideBarOption:hover {
    transform: scale(1.06);
    background-color: #f5f5f5;
}

.sideBarOption > svg {
    height: 1.4em;
}